* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Open-sans", sans-serif;
}

a:hover {
    color: black;
}


/* Changes font to Oswald */
.oswald {
    font-family: "Oswald", sans-serif;
}

.bold-font {
    font-weight: 700;
}

.light-font {
    font-weight: 200;
}

/* Styles top header with business name */
.header-heading {
    background-color: #004175;
    border-bottom: 3px #89Deef solid;
    color: white;
    padding: 50px 60px 40px 60px;
}

/* Defines main section padding */
.main-padding {
    padding: 30px 60px;
}
/* Defines header padding */
.main-header-padding{
    padding-bottom: 25px;
}

/* Defines subheader paragraph padding */
.p-subheader-padding {
    padding-bottom: 10px;
}
 /* Defines flexbox for larger section */
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
/* Defines size of cards and margins */
.card {
    width: 300px;
    margin: 0 15px 20px 0;
}

/* Defines size of dog photos */
.dog-photo {
    width: 300px;
}

/* Defines parent trait-list attributes */
.trait-list {
    display: flex;
    font-size: 10px;
    list-style: outside none none;
}

/* Defines styling for trait word tags under dog name */
.trait-tag {
    display: inline-block;
    background-color: #89deef;
    padding: 3px 7px;
    margin: 5px 0 0 0;
    border-radius: 10px;
    white-space: nowrap;
}

/* Sets height of footer nav bar and makes flex */
.nav-flex {
    display: flex;
    height: 300px;
}

/* Flexes images and box sizes. Sets font to be responsive and centered. */
.nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    margin: 0 auto;
    flex: 1;
    text-align: center;
}

/* Changes font color to white */
.color-white {
    color: white;
}

/* Adds transparent masked image to background */
.donate {
    background: 
    linear-gradient(
      rgba(166, 169, 240, 0.45), 
      rgba(166, 169, 240, 0.45)
    ), url(starter_files/images/donate.jpg);
    background-size: cover;
}

/* Adds transparent masked image to background */
.location {
    background: 
    linear-gradient(
      rgba(166, 169, 240, 0.45), 
      rgba(166, 169, 240, 0.45)
    ), url(starter_files/images/location.png);
    background-size: cover;
}

/* Adds transparent masked image to background */
.volunteer {
    background: 
    linear-gradient(
      rgba(166, 169, 240, 0.45), 
      rgba(166, 169, 240, 0.45)
    ), url(starter_files/images/volunteer.jpg);
    background-size: cover;
}

.nav-link {
    color: white;
    text-decoration: none;
}


/* Sets mobile views */
@media (max-width: 700px){
    .nav-flex {
        display: flex;
        flex-flow: column;
        height: 600px;
    }
    
    .nav-box {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 4vw;
    }
}
