* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Open-sans", sans-serif;
}

/*li {
    display: inline;
    width: auto;
}*/

.oswald {
    font-family: "Oswald", sans-serif;
}

.header-heading {
    background-color: #004175;
    border-bottom: 3px #89Deef solid;
    color: white;
    padding: 50px 60px 40px 60px;
}

.main-padding {
    padding: 30px 60px;
}

.main-header-padding{
    padding-bottom: 25px;
}

.p-subheader-padding {
    padding-bottom: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.display-inline {
}

.dog-photo {
    width: 300px;
}

.trait-list {
    font-size: 10px;
    list-style: outside none none;
    display: flex;
    justify-self: flex-start;
}

.trait-tag {
    background-color: #89deef;
    padding: 3px 7px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}